./output*
./2023*
./2024*
*.zip
*.fits
*.csv
./betterwlsolution
*.json
*.so
*.dll
/.venv
/.idea
*.txt
*.part
!compspec.fits
!compspec_HgAr.txt
!HgAr.txt
!FeAr_lines.txt
/cmake-build-linefit/*
/cmake-build-debug/*
*.out
linefit
testplot.py
testcall_frompython.py
view_images.py
wavelengthsolver.py
plotskyflux.py
paramdeterminer.py
linefit_alt.cpp
local_fixoutput.py
headercorrectro.py
